@model BasePageViewModel

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
    <head>
        @* HEAD *@
        <title>@Model.MetaTitle</title>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        @RenderSection("head", required: false)
    </head>
    <body>
        @* BODY *@
        @RenderBody()
    </body>
</html>
