@inherits UmbracoViewPage<IMainNavigation>

@if (Model.Items.IsAndAny())
{
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model.Items)
                    {
                        <li @Html.Attribute("class", item.IsCurrentPageOrAncestor ? "active" : null)>
                            <a href="@item.Url" @Html.Attribute("target", item.Target)>@item.Name</a>
                        </li>
                    }
                </ul>
                @if (Model.IsLoggedIn)
                {
                    using (Html.BeginUmbracoForm<LogoutController>("Logout", null, new { @class = "navbar-form navbar-right" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                        </button>
                    }
                    if (!string.IsNullOrEmpty(Model.Name))
                    {
                        <p class="navbar-text navbar-right">Signed in as @Model.Name</p>
                    }
                }
                else
                {
                    if (Model.Login != null)
                    {
                        <a href="@Model.Login.Url" class="btn btn-default navbar-btn navbar-right">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> @Model.Login.Name
                        </a>
                    }
                }
            </div>
        </div>
    </nav>
}