@model ModuleViewModel

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        @Html.DisplayImage(Model.Image, ImageCrops.Teaser)
        <div class="caption">
            <h3>@Model.Title</h3>
            <p>@Model.Summary</p>
            @if (Model.Link != null)
            {
                <a href="@Model.Link.Url" @Html.Attribute("target", Model.Link.Target) class="btn btn-primary" role="button">@Model.Link.Name</a>
            }
        </div>
    </div>
</div>