@model ContactFormViewModel

<div id="result"></div>
@using (Ajax.BeginForm("AjaxSendEmail", "Contact", new AjaxOptions { UpdateTargetId = "form-container" }, new { id = "contact-form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.RequiredLabelFor(m => m.FullName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FullName)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.RequiredLabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.RequiredLabelFor(m => m.Subject, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            @Html.RequiredLabelFor(m => m.Message, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
    </div>
    @Html.HiddenFor(m => m.ThankYouText)
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send email
    </button>
}