@model HomePageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="container">
    @Model.BodyText
</div>
@if (Model.Modules.IsAndAny())
{
    <div class="container">
        <div class="row">
            @foreach (var module in Model.Modules)
            {
                <div class="col-xs-@(12/Model.Modules.Count())">
                    <h2>@module.Title</h2>
                    <p>@module.Summary</p>
                    @if (module.Image != null)
                    {
                        @Html.DisplayImage(module.Image, ImageCrops.Teaser)
                    }
                </div>
            }
        </div>
    </div>
}
@Html.GetGridHtml(Model.CurrentPage, "grid")
