@model HomePageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@if (Model.HeroImage != null)
{
    <div class="hero-unit" @Html.BackgroundImage(Model.HeroImage.Crops[ImageCrops.Hero])>
        <div class="container">
            <h1>@Model.Title</h1>
        </div>
    </div>
}

<div class="container">
    @Model.BodyText
    @if (Model.Modules.IsAndAny())
    {
        <div class="row">
            @foreach (var module in Model.Modules)
            {
                <div class="col-xs-@(12/Model.Modules.Count())">
                    <h2>@module.Title</h2>
                    <p>@module.Summary</p>
                    @if (module.Image != null)
                    {
                        @Html.DisplayImage(module.Image, ImageCrops.Teaser)
                    }
                </div>
            }
        </div>
    }

</div>