@model UmbracoSandbox.Web.Models.HomePageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@*<img src="@Model.HeroImage.CropUrls["Hero"]" />
<img src="@Model.HeroImage.CropUrls["Page"]" />
<img src="@Model.HeroImage.CropUrls["Teaser"]" />*@

<p>Latitude: @Model.GoogleMap.Lat</p>
<p>Logitude: @Model.GoogleMap.Lng</p>
<p>Name: @Model.GoogleMap.Name</p>
<p>Location: @Model.GoogleMap.Location</p>
<p>Zoom: @Model.GoogleMap.Zoom</p>