@model UmbracoSandbox.Web.Models.HomePageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@Model.BodyText

<p>Latitude: @Model.GoogleMap.Lat</p>
<p>Logitude: @Model.GoogleMap.Lng</p>
<p>Name: @Model.GoogleMap.Name</p>
<p>Location: @Model.GoogleMap.Address</p>
<p>Zoom: @Model.GoogleMap.Zoom</p>